<%= render 'principal/barra' %>

<div class="container-fluid" id="resto-cuerpo">
	<div id="cuerpo" class="principal-chica uk-block-large">
		<% @resultados.each do |r| %>

    <div class="uk-grid uk-grid-medium uk-margin-large-bottom">
    <div class="uk-width-1-5 uk-text-center">
		<% if (r.is_a?(Curso) and r.foto.url.present?) %>
    	<img src=<%= r.foto.url %> class="uk-border-rounded">
		<% elsif (r.is_a?(Descubre) and r.imagen.url.present?) %>
    	<img src=<%= r.imagen.url %> class="uk-border-rounded">
		<% else %>
    	<img src=<%= image_url(r["centroSiglas"].downcase + ".png") %> class="uk-border-rounded">
		<% end %>
    </div>
    <div class="uk-width-4-5 uk-vertical-align-middle uk-text-left uk-text-break">
		<h4><%= r.is_a?(Curso) ? r.programa.mb_chars.upcase : (r.is_a?(Descubre) ? r.contenido.mb_chars.upcase : r["tipoActividad"].to_s.mb_chars.upcase) %></h4>
    <h2 class="vino"><%= (r.is_a?(Curso) || r.is_a?(Descubre)) ? r.titulo : (r["tituloActividad"] + (r["subtituloActividad"].to_s != "" ? (": " + r["subtituloActividad"]) : "")) %></h2>
    <div class="uk-grid uk-grid-large">
    <div class="uk-width-large-4-6 uk-text-left">


    <a href=<%= (r.is_a?(Curso) || r.is_a?(Descubre)) ? r.liga : r["liga"].to_s %> target="_blank" class="ver-mas uk-margin-large-bottom uk-button-small">Más información</a>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div style="display:inline-block;float:right;" class="addthis_inline_share_toolbox" data-url=<%= (r.is_a?(Curso) || r.is_a?(Descubre)) ? r.liga : r["liga"].to_s %> data-title="<%= (r.is_a?(Curso) || r.is_a?(Descubre)) ? r.titulo : (r["tituloActividad"] + (r["subtituloActividad"].to_s != "" ? (": " + r["subtituloActividad"]) : "")) %>"></div>

    </div>
    
    </div>
    </div>
    </div>


		<br>
		<% end %>
	</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57bb682464651c22"></script>

<%= render 'principal/footer' %>
